
.img_principal {
    border: 1px solid black;
}

.descripcion_pag {
    border: 1px solid black;
    width: 350px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Configuración general de main */
main {
    /* Color complementario */
    padding: 2rem;
    /* Centrando texto */
    text-align: center;
}

main > * {
    margin: 0 auto;
}

main h1 {
    font-size: 2rem;
}

main h2 {
    font-size: 1.2rem;
}