
.img_principal {
    border: 1px solid black;
}

.descripcion_pag {
    border: 1px solid black;
    max-width: 350px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Configuración general de main */
main {
    /* Color complementario */
    padding: 2rem;
    /* Centrando texto */
    text-align: center;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main 
/* CORRECCIONES DESPUES DE AGREGAR BOOTSTRAP */
/* Corrigiendo header después de agregar bootstrap */
header .container nav ul {
    margin: 0!important;
    padding: 0!important;
}
#ul {
    margin: 0!important;
    padding: 0!important;
}

/* Carousel correccion slide */
.container_imagenes {
    position: relative;
    overflow: hidden;
}

.carousel {
    overflow: hidden;
}

main img {
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    border: 1rem double;
}
