
.img_principal {
    border: 1px solid black;
}

.descripcion_pag {
    border: 1px solid black;
    max-width: 350px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Configuración general de main */
main {
    /* Color complementario */
    padding: 2rem;
    /* Centrando texto */
    text-align: center;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Corrigiendo header después de agregar bootstrap */
header .container ul {
    margin: 0;
    padding: 0;
}